html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  background-color: #c0c0c0;
  font-family: Courier;
}

body {
  background-image: url('./kedada-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown {
  width: clamp(100%, 100%, 790px);
}

.timer *[id] {
  font-size: 4.5rem;
}

.timer {
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  padding-top: 0.75rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

.unit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 600px) {
  .timer {
    flex-direction: row;
  }
}
